<div class="container my-4">
  <section>
    <div class="col px-0 code-container">
      <ngx-monaco-editor
        class="code-area image-1"
        [options]="editorOptionsHtml"
        [(ngModel)]="htmlCode"
        id="html"
      ></ngx-monaco-editor>
    </div>
    <div class="col px-0 code-container">
      <ngx-monaco-editor
        class="code-area image-2"
        [options]="editorOptionsJS"
        [(ngModel)]="jsCode"
        id="js"
      ></ngx-monaco-editor>
    </div>
    <div class="col px-0 code-container">
      <ngx-monaco-editor
        class="code-area image-3"
        [options]="editorOptionsCSS"
        [(ngModel)]="cssCode"
        id="css"
      ></ngx-monaco-editor>
    </div>
    <iframe srcdoc="<h1>Hola srcdo</h1>"></iframe>
  </section>
</div>
