<div class="container">
    <div class="left-div">
      <div class="theme1">
        <h2>Temas Oscuros</h2>
        <input type="radio" name="theme" value="theme1" id="theme1">
        <label for="theme1">Monokai</label><br>
        <input type="radio" name="theme" value="theme2" id="theme2">
        <label for="theme2">Dracula</label><br>
        <input type="radio" name="theme" value="theme3" id="theme3">
        <label for="theme3">Seti-Ui</label><br>
        <input type="radio" name="theme" value="theme4" id="theme4">
        <label for="theme4">Obsidian</label><br>
        <input type="radio" name="theme" value="theme5" id="theme5">
        <label for="theme5">Atom Dark</label>
      </div>
      <div class="theme2">
        <h2>Temas Claros</h2>
        <input type="radio" name="theme" value="theme6" id="theme6">
        <label for="theme6">Light +</label><br>
        <input type="radio" name="theme" value="theme7" id="theme7">
        <label for="theme7">Solarized Theme</label><br>
        <input type="radio" name="theme" value="theme8" id="theme8">
        <label for="theme8">One Light</label><br>
        <input type="radio" name="theme" value="theme9" id="theme9">
        <label for="theme9">Twilight</label>
      </div>
      <div class="theme3">
        <h2>Temas Alto Contraste</h2>
        <input type="radio" name="theme" value="theme10" id="theme10">
        <label for="theme10">High Contrast</label><br>
        <input type="radio" name="theme" value="theme11" id="theme11">
        <label for="theme11">Monokai High Contrast</label><br>
        <input type="radio" name="theme" value="theme12" id="theme12">
        <label for="theme12">Vibrant High Contrast</label><br>
        <input type="radio" name="theme" value="theme13" id="theme13">
        <label for="theme13">Dracula High Contrast</label>
      </div>
    </div>

  </div>
  