<div class="divprincipal">
    <div class="divhead">
        <img class="logoCodeninja" src="../assets/img/logo_codeninja.png" alt="logo codeninja">
        <p class="p1">CodeNinja</p>
    </div>
    <div class="divsection">
        <div class="div1">
            <h1>Log In</h1>
            <a href="https://es-la.facebook.com/">
            <button class="btn1">
                <img class="logo" src="../assets/img/facebooklogo.png" alt="facebook">Inicia con Facebook
            </button>
            </a>
        </div >

        <div class="divider"></div>   
        
        <form [formGroup]='formularioRegistro'>
        <div class="div2">
            <label class="l1" for="username1">Usuario</label>
            <input formControlName="nombreUsuario"  class="input1" id="username1" type="text" required>

            <label class="l1" for="password1">Contraseña</label>
            <input formControlName="contraseña" class="input1" id="password1" type="password" required>
            <button type="button" (click)= "logIn()"class="btn btn-primary">Log In</button> 
        </div>
        </form>
    </div>
    <div class="divfoot">
        <p class="p1">Necesitas una cuenta? <a class="link" href="" routerLink="/signup">Crea una cuenta ahora!</a></p>   
    </div>
    <div *ngIf="mostrarAlerta" class="alert alert-danger mt-2">
        Usuario o contraseña incorrectos. Por favor, inténtalo de nuevo.
    </div>  
    <div *ngIf="mostrarAlerta1" class="alert alert-success mt-2">
         INGRESO DE USUARIO EXITOSO-- BIENVENIDO
    </div>
</div>    



