.register-btn {
  background-color: #444857;
  color: #ffff;
}

.landing-card {
  background-color: #2c303a;
  border-radius: 12px;
}

.tec-section,
.about-us {
  background-color: #2c303a;
  border-radius: 12px;
}
