<div class="row px-0">
  <div class="col-12 d-flex justify-content-end">
    <nav class="navbar justify-content-end">
      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn btn-success" (click)="navegarLogin()">Iniciar sesión</button>
        </div>
        <div class="col">
          <button type="button" class="btn register-btn" (click)="navegarSignup()">Registrarse</button>
        </div>
      </div>
    </nav>
  </div>
</div>

<div class="container mt-4">
  <div class="row">
    <div class="col-6">
      <div class="row">
        <div class="col">
          <h1 class="text-white">
            El mejor lugar para construir,<br />testear y discubrir,<br />nuevo
            codigo
          </h1>
        </div>
      </div>

      <div class="row mt-2">
        <div class="col">
          <h5 class="text-white">
            CodeNinja es un editor de codigo online para desarrolladores
            front-end, donde puedes construir y visualizar tu codigo en tiempo
            real y compartirlo con tus colaboradores
          </h5>
        </div>
      </div>
    </div>
    <div class="col-6">
      <img
        src="../../../assets/img/landingLogo.svg"
        alt="landing"
        width="500rem"
      />
    </div>
    <div class="col-12">
      <button type="button" class="btn btn-success btn-lg">
        Prueba Gratis
      </button>
    </div>
  </div>

  <div class="row mt-4 justify-content-between">
    <div class="col-3 landing-card py-4 mr-2">
      <div class="row">
        <div class="col-auto">
          <img src="../../../assets/img/landing-card-1.svg" alt="logo" />
        </div>
        <div class="col d-flex align-items-center">
          <h5 class="text-white">Construye y Prueba</h5>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <p class="text-white">
            Crea tus proyectos de una manera mas rapida, amigable y con
            visualizacion al instante.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn register-btn">Probar editor</button>
        </div>
      </div>
    </div>
    <div class="col-3 landing-card py-4 mr-2">
      <div class="row">
        <div class="col-auto">
          <img src="../../../assets/img/landing-card-2.svg" alt="logo" />
        </div>
        <div class="col d-flex align-items-center">
          <h5 class="text-white">Construye y Prueba</h5>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <p class="text-white">
            Crea tus proyectos de una manera mas rapida, amigable y con
            visualizacion al instante.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn register-btn">Probar editor</button>
        </div>
      </div>
    </div>

    <div class="col-3 landing-card py-4">
      <div class="row">
        <div class="col-auto">
          <img src="../../../assets/img/landing-card-3.svg" alt="logo" />
        </div>
        <div class="col d-flex align-items-center">
          <h5 class="text-white">Construye y Prueba</h5>
        </div>
      </div>
      <div class="row mt-2">
        <div class="col-12">
          <p class="text-white">
            Crea tus proyectos de una manera mas rapida, amigable y con
            visualizacion al instante.
          </p>
        </div>
      </div>
      <div class="row">
        <div class="col-auto">
          <button type="button" class="btn register-btn">Probar editor</button>
        </div>
      </div>
    </div>
  </div>

  <div class="row tec-section mt-4 py-3">
    <div class="col-12">
      <h4 class="text-white text-center">Tecnologias y Herramientas</h4>
    </div>
    <div class="col-12 d-flex flex-column align-items-center my-2">
      <div class="row">
        <div class="col-4 d-flex justify-content-center">
          <img src="../../../assets/img/ts.svg" alt="logo" />
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img src="../../../assets/img/angular.svg" alt="logo" />
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img src="../../../assets/img/js.svg" alt="logo" />
        </div>

        <div class="col-4 d-flex justify-content-center">
          <img src="../../../assets/img/firebase.svg" alt="logo" />
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img src="../../../assets/img/node.svg" alt="logo" />
        </div>
        <div class="col-4 d-flex justify-content-center">
          <img src="../../../assets/img/mongo.svg" alt="logo" />
        </div>
      </div>
    </div>
  </div>

  <div class="row about-us my-4 py-3 justify-content-center">
    <div class="col-12 mb-2">
      <h4 class="text-white text-center">Sobre Nosotros</h4>
    </div>
    <div class="col-auto">
      <div class="row">
        <div class="col-auto">
          <img src="../../../assets/img/erick.svg" alt="logo" />
        </div>
        <div class="col d-flex align-items-center">
          <p class="text-white">
            Erick Molina<br />Senior Full Stack Developer
          </p>
        </div>
      </div>
    </div>
    <div class="col-auto">
      <div class="row">
        <div class="col-auto">
          <img src="../../../assets/img/erick.svg" alt="logo" />
        </div>
        <div class="col d-flex align-items-center">
          <p class="text-white">
            Erick Molina<br />Senior Full Stack Developer
          </p>
        </div>
      </div>
    </div>
  </div>
</div>
